@keyframes fade-slides{
    from{
        opacity: 0;
       
    }

    to{
        opacity: 1;
        
    }
}

.fade-enter-active{
    animation: fade-slides 1.5s ease-in-out;
    
}

img {
    transition: ease-in-out all .5s;
}